{% extends 'base.html.twig' %}

{% block title %}Список новостей{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 1200px; width: 95%; font: 18px/1.5 sans-serif; }
    </style>

    <div class="example-wrapper">
        <h1>Список новостей</h1>

        {% for news in pagination %}
            <div>
                <a href="{{ path('admin_show_news', {'id': news.id}) }}"><h1>{{ news.date|date("Y-m-d H:i:s") }} — {{ news.title }}</h1></a>
                <div class="news-preview">{{ news.preview }}</div>
            </div>
        {% endfor %}

        <div>
            <a href="{{ path('app_news_new') }}">Create new</a>
        </div>
        <div>
            <div class="pagination">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>

    </div>
{% endblock %}
