{% extends 'base.html.twig' %}

{% block title %}{{ news.title }}{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1 class="h2">{{ news.date|date("Y-m-d H:i:s") }} — {{ news.title }}</h1>

        {% if news.image %}
            <div class="my-3">
                <img src="{{ asset('images/' ~ news.image) }}" alt="Картинка новости">
            </div>
        {% endif %}

        <div class="my-3">
            {{ news.text }}
        </div>

        <div class="my-5  d-flex">
            <div><a class="btn btn-sm btn-light btn-outline-dark" href="{{ path('admin_show_all_news') }}">Назад</a></div>
            <div class="mx-2"><a class="btn btn-sm btn-light btn-outline-dark" href="{{ path('news_edit', {'id': news.id}) }}">Редактировать</a></div>
            <div>{{ include('news/admin/_delete_form.html.twig') }}</div>
        </div>
    </div>
{% endblock %}
