{% extends 'base.html.twig' %}

{% block title %}Список новостей{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Список новостей</h1>

    {% for news in pagination %}
        <div class="my-5 bg-body bg-opacity-10">
            <a class="text-decoration-none" href="{{ path('show_news', {'id': news.id}) }}">
                <h1  class="text-dark h2">{{ news.date|date("Y-m-d H:i:s") }} — {{ news.title }}</h1>
            </a>
            <div>{{ news.preview }}</div>
        </div>
    {% endfor %}

    <div  class="my-4">
        <div class="pagination">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
</div>
{% endblock %}
